<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nobody.nobodyplace.mapper.CouponMapper">
    <select id="getCouponInfoById" resultType="com.nobody.nobodyplace.pojo.dto.CouponInfoDTO">
        select ci.id, ci.title, ci.subtitle, ci.pay_value, sc.stock, ci.start_time
        from coupon_info ci, seckill_coupon sc
        where ci.id = #{id} and ci.id = sc.coupon_id
    </select>

    <update id="updateCouponStockMinusOne">
        update seckill_coupon
        set stock = stock - 1
        where coupon_id = #{id} and stock > 0
    </update>

    <insert id="generateOrder">
        insert into coupon_order (id, user_id, coupon_id, status)
        values (#{id}, #{userId}, #{couponId}, #{status})
    </insert>

    <select id="queryUserOrderedCoupon" resultType="Integer">
        select count(id) from coupon_order
        where coupon_id = #{couponId} and user_id = #{userId}
    </select>
</mapper>
